
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   
 }
 
.grid-container{
   display: grid;
   grid-template-rows: 80px 1fr 1fr 80px;
   grid-template-columns: 1fr ;
}

header {
   background-color:  #b7bfc7;
   height: 80px;
   grid-column: 1 / -1;
   grid-row: 1 / 2;
   display: flex;/*put the nav up_specify padding */
   align-items: center;/*make the element at center of header*/
   justify-content: space-between;/*put nav on right*/
}
.header-logo {
   width: 80px;
   height: 80px;
   object-fit: cover;
 }

 header .header-nav a {
   padding: 0px 400px 0px 40px;
   margin-right: 50px;
   color: #000;
   /*float: right!important;*/
 }

 main{
    grid-column: 1 / -1;
    grid-row: 2 / 3;
 }
 .title{
    padding-top: 20px;
   text-align: center;
   grid-column: 1 /-1;
    grid-row: 2 / 3;
 }

 .status{/*color the status*/
    background-color: burlywood;
 }
 .table,td,th{
   border: 1px solid #000;
   text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
.table
{

   margin-left: auto;/*center the table*/
   margin-right: auto;
   position: relative;
  /* left: 650px;*/
   /*align-items: center;*/
   border-collapse: collapse;
   /*position:relative;*/
   grid-column: 1 /-1;
   grid-row: 3 / 4;
}

footer{
 
   display: flex;
   background-color:  #b7bfc7;
   justify-content: space-between;
   grid-column: 1 / -1;
   display: flex;
   align-items: center;
   grid-row: 4 / -1;
  
}

.follow{
   padding-right: 50px;
   padding-top: 5px;
  
}
/*
.follow li{
 
      display: inline;
  
}*/
.copy{
   position: relative;
   left: 650px;
   padding-top: 5px;
   align-items: center;
}